html, body {
    background-color: #EEE;
    height: 100%;
}

/* sidebar */
.sidebar ul {
    list-style-type: none;
}

/* content */
.content-layout {
    margin: 0 auto;
}

.content {
    text-align: justify;
    padding-bottom: 3em;
}

/* provided-services */
.subscription-conditions p {
    margin: 0;
}

.provided-services button {
    margin: 10px 10px 0 0;
}

/* input */
.input-group {
    margin-bottom: .3em;
}

/* footer */
footer {
    height: 2em;
    padding: .5em;
}

footer p {
    font-size: .8em;
    color: #E3E3E3;
    text-align: right;
    margin: 0;
    padding-right: 2em;
}

/* login form */
.login-layout {
	margin: 40% auto;
	width: 70%;
}

.login-input-wrapper {
	padding: 1em;
	background: #FFF;
}

.login-input-wrapper .input-group {
	margin-bottom: .8em;
}

.login-input-wrapper .form-group:last-child {
	margin-bottom: 0;
}

/* media-queries */
@media screen and (min-width:961px) {
    .content-layout {
        width: 80%;
    }
	.login-layout {
		margin: 10% auto;
		width: 25%;
	}
}