html, body {
    background-color: #EEE;
    height: 100%;
}

/* sidebar */
.sidebar ul {
    list-style-type: none;
}

/* content */
.content-layout {
    margin: 0 auto;
}

.content {
    text-align: justify;
    padding-bottom: 3em;
}
/* login */
.login-lable {
    color: #888;
    padding-left: 15px;
}

.login-navlink {
    height: 50px;
    color: #ccc;
    border: none;
}

/* offers */
.subscription-conditions p {
    margin: 0;
}

.offers button {
    margin: 10px 10px 0 0;
}

/* input */
.input-group {
    margin-bottom: .3em;
}

/* footer */
footer {
    height: 2em;
    padding: .5em;
}

footer p {
    font-size: .8em;
    color: #E3E3E3;
    text-align: right;
    margin: 0;
    padding-right: 2em;
}

/* login form */
.login-layout {
    margin: 40% auto;
    width: 70%;
}

.login-input-wrapper {
    padding: 1em;
    background: #FFF;
}

.login-input-wrapper .input-group {
    margin-bottom: .8em;
}

.login-input-wrapper .form-group:last-child {
    margin-bottom: 0;
}

.login-error {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    height: 2em;
    text-align: center;
    font-size: 1.1em;
}

.login-error p {
    line-height: 2em;
}


/* call form */
.call-wrapper .radio-inline {
    padding: 0;
    margin-bottom: 1.5em;
}

.call-wrapper input[type="radio"] {
    display: none;
}

.call-wrapper input[type="radio"] + span {
    background-color: #FFF;
    padding: .5em;
    width: 3em;
    border: 1px solid #ccc;
}

.call-wrapper input[type="radio"]:checked + span {
    background-color: #398439;
    color: #FFF;
    border-color: #398439;
}

/* invoice control */
.red-button {
    margin-top: 1em;
}

.red-button button {
    margin: 0 0 15px 15px !important;
}

/* media-queries */
@media screen and (min-width:961px) {
    .content-layout {
        width: 80%;
    }
    .login-layout {
        margin: 10% auto;
        width: 25%;
    }
}